
@{ 
    ViewBag.Title = "Index";
    Layout = Layout = "~/Views/Shared/_LayoutManga.cshtml";
}

<h2>Inscription</h2>

@using (Html.BeginForm("Insc", "Connexion",
                        new { ReturnUrl = ViewBag.ReturnUrl },
                        FormMethod.Post, new { @class = "login-form" }))
{

    <div class="form-group">
        <label class="control-label col-md-2" for="Nom">Nom</label>
        <div class="col-md-10">
            <input type="text" id="Nom" name="Nom" class="form-control text-box single-line " />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Prenom">Prenom</label>
        <div class="col-md-10">
            <input type="text" id="Prenom" name="Prenom" class="form-control text-box single-line " />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="mdp">Mot De Passe</label>
        <div class="col-md-10">
            <input type="password" id="mdp" name="mdp" class="form-control text-box single-line " />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="confMdp">Confirmer Mot de Passe</label>
        <div class="col-md-10">
            <input type="password" id="confMdp" name="confMdp" class="form-control text-box single-line " />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offser-2 col-md-2">
            <input type="submit" value="S'inscrire" class="btn btn-default btn-success" />
        </div>
    </div>

        }

